.end {
    padding: 2% 10%;
    background-color: $end;
    .container {
        width: 100%;
        @include flex(row, space-between, center);
        .main-text {
            text-transform: uppercase;
            font-weight: $bold;
            font-size: 2em;
        }
        button {
            color: $highlight;
            padding: 1em 2em;
            border-radius:1em;
            border: none;
        }
    }
}