@use "./variables";

header {
  position: relative;
  width: 100%;

  .container {
    position: absolute;
    // margin: auto;
    padding: 1% 10%;
    width: 100%;
    box-sizing: border-box;
    top: 0px;
    @include flex(row, space-between, center);
  }

  .nav {
    @include navBar;
    li {
      font-size: 1em;
      display: inline;
      text-transform: capitalize;
      margin: 0 0.5em;
      a {
        text-decoration: none;
        padding: 0.9em 1em;
        border-bottom-left-radius: 0.5em;
        border-bottom-right-radius: 0.5em;
      }
      .active {
        color: $highlight;
        background-color: white;
        border-top: 10px solid $highlight;
      }
    }
  }
}
