@use "./variables";

.pink-color {
  color: $highlight;
}

@mixin main {
  position: relative;
  .banner {
    height: max-content;
    .content {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      @include flex(column, flex-start, center);
      margin-top: 10em;

      * {
        text-transform: uppercase;
        font-weight: $bold;
      }

      button {
        text-transform: capitalize;
        color: $highlight;
        background-color: white;
      }

      .description {
        margin: 0 20%;
        text-transform: capitalize;
        font-weight: 400;
        text-align: center;
      }

      #upper {
        letter-spacing: 0.2em;
      }

      #lower {
        font-size: 3em;
        padding-bottom: 0.3em;
      }
    }
  }
}

main {
  @include main();
}

main .banner img {
  width: 100%;
  z-index: -1;
}
