@use "./variables";

main {
    position: relative;
  z-index: -1;
  .banner {
    height: max-content;
    .content{
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        @include flex(column, center, center);

        * {
            text-transform: uppercase;
        }

        button {
            color: black;
            text-transform: capitalize;
        }
    }
  }
}

main .banner img {
  width: 100%;
  z-index: -1;
}
