$highlight: #ff565b;
$bold: 700;
$round: 3%;
$fade-text: rgb(122, 122, 122);
$fade-break: rgb(235, 235, 235);
$padding-small: 5% 10%;
$end: rgb(42, 42, 42);

@mixin flex($direction, $justify, $align) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin navBar {
  list-style-type: none;
}

@mixin full {
  width: 100%;
  height: 100%;
}
