@import "./variables";
@import "./header";
@import "./main";
@import "./explore";
@import "./search";
@import "./check-out";
@import "./talk";
@import "./footer";
@import "./menu";
@import "./company";
@import "./comment";
@import "./end";
@import "./design";
@import "./trending";

* {
  margin: 0;
  font-family: poppins;
  color: white;
}

body {
  position: relative;
}




