header {
  position: relative;
  width: 100%;
}
header .container {
  position: absolute;
  padding: 1% 10%;
  width: 100%;
  box-sizing: border-box;
  top: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
header .nav {
  list-style-type: none;
}
header .nav li {
  font-size: 1em;
  display: inline;
  text-transform: capitalize;
  margin: 0 0.5em;
}
header .nav li a {
  text-decoration: none;
  padding: 0.9em 1em;
  border-bottom-left-radius: 0.5em;
  border-bottom-right-radius: 0.5em;
}
header .nav li .active {
  color: #ff565b;
  background-color: white;
  border-top: 10px solid #ff565b;
}

.pink-color {
  color: #ff565b;
}

main {
  position: relative;
  z-index: -1;
}
main .banner {
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
}
main .banner .content {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main .banner .content * {
  text-transform: uppercase;
  font-weight: 700;
}
main .banner .content button {
  text-transform: capitalize;
  color: #ff565b;
  background-color: white;
}
main .banner .content #upper {
  letter-spacing: 0.2em;
}
main .banner .content #lower {
  font-size: 3em;
  padding-bottom: 0.3em;
}

main .banner img {
  width: 100%;
  z-index: -1;
}

.small-gray-text {
  font-size: 0.9rem;
  color: rgb(122, 122, 122);
}

h1 {
  padding-bottom: 2em;
}
h1 .title-content {
  color: black;
  text-transform: uppercase;
}
h1 .pink-color {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
h1 .pink-color div {
  color: #ff565b;
}
h1 .pink-color span {
  background-color: #ff565b;
}
h1 .pink-color .long-dash {
  display: block;
  height: 0.2em;
  width: 3em;
}
h1 .pink-color .normal-text {
  background-color: inherit;
  color: black;
}

#explore {
  margin: 20% 5% 5%;
}

.section * {
  color: black;
  text-transform: capitalize;
}
.section .section-image {
  border-radius: 3%;
}
.section .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  gap: 5em;
}
.section .container .left {
  width: 50%;
}
.section .container .left img {
  width: 100%;
}
.section .container .right {
  width: 50%;
}
.section .container .right .sub-content {
  display: flex;
  flex-direction: column;
  justify-content: spaced-between;
  align-items: flex-start;
}
.section .container .right .sub-content i {
  padding: 3%;
  color: rgb(122, 122, 122);
}
.section .container .right .sub-content .space {
  margin: 2rem 0;
}
.section .container .right .sub-content .row-1 {
  width: 100%;
}
.section .container .right .sub-content .row-1 .break {
  display: block;
  width: 100%;
  height: 0.2em;
  background-color: rgb(235, 235, 235);
}
.section .container .right .sub-content .row-1 .sub-title {
  font-weight: 700;
  font-size: 1.2em;
  padding: 2% 0;
}
.section .container .right .sub-content .row-2 {
  display: flex;
  flex-direction: row;
  justify-content: spaced-between;
  align-items: baseline;
}
.section .container .right .sub-content .row-2 .col-1 {
  width: 40%;
}
.section .container .right .sub-content .row-2 .col-2 .project-name {
  font-weight: 700;
}

.search {
  z-index: 100;
  position: absolute;
  top: 35rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.search .container {
  margin: 5% 10%;
  background: white;
  width: 100%;
  height: 100%;
  padding: 0 5%;
  border-radius: 1em;
  box-shadow: 3px 3px 15px 1px rgba(0, 0, 0, 0.2);
}
.search * {
  text-transform: capitalize;
}
.search .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5em;
  padding: 3em 0;
}
.search .row .box-search {
  width: 25%;
}
.search .row .box-search input {
  color: black;
  box-sizing: border-box;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 0.7em;
  width: 100%;
}
.search .row .box-search input::-moz-placeholder {
  color: rgb(122, 122, 122);
}
.search .row .box-search input:-ms-input-placeholder {
  color: rgb(122, 122, 122);
}
.search .row .box-search input::placeholder {
  color: rgb(122, 122, 122);
}
.search .row .box-pick {
  width: 25%;
}
.search .row .box-pick select {
  color: black;
  width: 100%;
  border: 1px solid rgb(235, 235, 235);
  border-radius: 5px;
  padding: 0.7em;
}
.search .row .box-pick select option {
  color: black;
}
.search .row .title {
  color: black;
  font-weight: 700;
  font-size: 1.2em;
  padding: 1em 0;
}

.long-btn {
  background-color: #ff565b;
  border: none;
  border-radius: 10px;
  font-size: 1em;
  height: 3em;
  width: 100%;
  margin: 0 0 5% 0;
}

.check-out .container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 5%;
}
.check-out .left .description {
  text-transform: none;
  margin-bottom: 10%;
}
.check-out .right {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.check-out .right img {
  border-radius: 10px;
}

.discover-btn {
  background-color: #ff565b;
  padding: 1em 2em;
  border: none;
  border-radius: 0.7em;
  color: white;
}

.talk .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.talk .container img {
  position: absolute;
  top: 0px;
  z-index: -1;
  height: 100%;
  width: 100%;
}
.talk .box {
  background-color: white;
  margin: 0 10%;
  padding: 2% 5%;
  border-radius: 1em;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: spaced-between;
  align-items: center;
}
.talk .box > * {
  width: 100%;
}
.talk h1 {
  padding-bottom: 0.7em;
}
.talk form > * {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 2% 0;
}
.talk form .row-3 textarea {
  resize: both;
  overflow: auto;
  height: 5em;
}
.talk form input,
.talk form textarea {
  border: 2px solid rgb(235, 235, 235);
  padding: 2%;
  border-radius: 0.7em;
  width: 100%;
  color: rgb(73, 72, 72);
}
.talk form input::-moz-placeholder, .talk form textarea::-moz-placeholder {
  text-transform: capitalize;
}
.talk form input:-ms-input-placeholder, .talk form textarea:-ms-input-placeholder {
  text-transform: capitalize;
}
.talk form input::placeholder,
.talk form textarea::placeholder {
  text-transform: capitalize;
}
.talk .right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}
.talk .right iframe {
  height: 30rem;
  width: 30rem;
}

.footer .container {
  margin: 5%;
  display: flex;
  flex-direction: row;
  justify-content: spaced-evenly;
  align-items: flex-start;
}
.footer .container .left div {
  margin: 1em 0;
}
.footer .container .right * {
  text-transform: capitalize;
}
.footer .container .right .row-1 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
}
.footer .container .right .row-1 > * {
  flex: 1 1 0px;
}
.footer .container .right .row-1 ul {
  list-style: none;
}
.footer .container .right .row-1 ul li {
  padding: 0.5em;
}
.footer .container .right .row-1 ul .title {
  color: black;
  font-weight: bold;
}
.footer .container .right .row-1 ul i {
  margin-right: 0.3em;
}

* {
  margin: 0;
  font-family: poppins;
  color: white;
}

body {
  position: relative;
}/*# sourceMappingURL=index.css.map */